// change the theme
$theme-colors: (
  'primary': #00015e,
);

.nav-dropdown a {
  color: white !important;
  font-weight: bold;
  padding: 0;
}

.nav-dropdown a:hover,
.navLink:hover {
  color: rgb(172, 172, 172) !important;
}

.custom-button {
  border: none;
  color: white;
}

.light-blue-text {
  color: #5ba0cd;
}
@keyframes dropdownAnim {
  from {
    opacity: 0%;
    transform: translateY(10px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 1rem; // remove the gap so it doesn't close
  animation: dropdownAnim 0.5s ease;
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
