// change the theme
$theme-colors: (
  'primary': #00015e,
);

.nav-dropdown a {
  color: white !important;
  font-weight: 450;
}

.nav-dropdown a:hover {
  color: rgb(172, 172, 172) !important;
}

.custom-button {
  border: none;
  color: white;
}

.light-blue-text {
  color: #5ba0cd;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
